@model IEnumerable<Vendas.Models.TbCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Cadastro</a>
</p>
<table id="TableClientes" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning m-1" asp-route-id="@item.IdCliente">Alterar</a>
                <a asp-action="Details" class="btn btn-info m-1" asp-route-id="@item.IdCliente">Detalhes</a>
                <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.IdCliente">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {

    <script>

        $(document).ready(function () {
            $('#TableClientes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    </script>>

}