@model Vendas.Models.TbVenda

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.NomeCliente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdutoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdutoNavigation.NomeProduto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
