@model Vendas.Models.TbVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdutoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdutoNavigation.NomeProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVenda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
