@model IEnumerable<Vendas.Models.TbVenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova Venda</a>
</p>
<table id="TableVendas" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdutoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdutoNavigation.NomeProduto)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning m-1" asp-route-id="@item.IdVenda">Alterar</a>
                    <a asp-action="Details" class="btn btn-info m-1" asp-route-id="@item.IdVenda">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.IdVenda">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>

        $(document).ready(function () {
            $('#TableVendas').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    </script>>

}