@model Vendas.Models.TbProduto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbProduto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCompraProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCompraProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVendaProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVendaProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProduto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
